<?xml version="1.0"?>
<config>
  <modules>
    <Lzy_ProductAvailabilityMessage>
      <version>0.1.0</version>
    </Lzy_ProductAvailabilityMessage>
  </modules>

  <frontend>
    <layout>
      <updates>
        <lzy_productavailabilitymessage>
          <file>lzy/productavailabilitymessage.xml</file>
        </lzy_productavailabilitymessage>
      </updates>
    </layout>
  </frontend>
</config>