<?xml version="1.0"?>
<config>
  <modules>
    <Lzy_ProductInfo>
      <version>0.1.0</version>
    </Lzy_ProductInfo>
  </modules>

  <frontend>
    <routers>
      <lzy_productinfo>
        <use>standard</use>
        <args>
          <module>Lzy_ProductInfo</module>
          <frontName>productinfo</frontName>
        </args>
      </lzy_productinfo>
    </routers>
  </frontend>
</config>
