<?xml version="1.0"?>
<config>
	<modules>
		<Lzy_CoreController>
			<version>0.1.0</version>
		</Lzy_CoreController>
	</modules>

	<frontend>
		<routers>
			<customer>
				<args>
					<modules>
						<Lzy_CoreController before="Mage_Customer_AccountController">Lzy_CoreController_Frontend_Customer</Lzy_CoreController>
					</modules>
				</args>
			</customer>
		</routers>
	</frontend>
</config>